* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url(../images/fond.webp);

    .navbar {
        display: flex;
        align-items: center;
        margin-right: 3rem;

        .logo img {
            width: 15rem;
            margin-right: 3rem;
            margin-left: 2rem;
        }

        .titles h2 {
            background-color: black;
            color: white;
            font-size: 3.5rem;
            font-weight:bold;
            padding: 1rem;
            border-radius: 30px;
            margin: 2rem 0rem;

            #date_du_jour {
                font-size: 50px;
            }
        }

        #date_du_jour {
            font-weight: bold;
        }
    }
}