// VARIABLE COLORS

$bg-text: black;
$bg-article: #e1d7d6;
$bg-footer: #030342;

// COLOR BUTTON

$bg-btn: #581300;

// COLOR CADRE

$bg-cadre: orange;

// SPACING

$base-padding-article: 0.5rem;

// FONT-SIZE

$base-font-size-corp: 20px;